<div class="container-fluid">
  <div class="card-content">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">how_to_reg</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Interviews</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div>

          <button class="btn btn-primary btn-success" style="margin-left:auto; margin-right: 0;display:block" ng-click="addInterview()">
            <span class="btn-label">
              <i class="material-icons">library_add</i>
            </span>
            Add Interview
          </button>

          <div ng-if="interviews" ui-grid="gridOptions" style="height: calc(93vh - 160px)"></div>

        </div>
      </div>
      <!-- end content-->
    </div>
  </div>
</div>